data/*
!data/targets/
!data/embeddings/
!data/bugfixes/
!data/similarity/
data/targets/*
data/embeddings/*
data/bugfixes/*
data/similarity/*
!data/targets/.gitkeep
!data/embeddings/.gitkeep
!data/bugfixes/.gitkeep
!data/similarity/.gitkeep
.env
.venv/
__pycache__/
*.pyc
